@import url("https://fonts.googleapis.com/css?family=Caveat" );
@import url("https://fonts.googleapis.com/css?family=Kalam");
body {
	margin:0;
	padding:0;
	background: url(bg.jpg) no-repeat;
}

img {
	border-radius:100%;
	margin-left:50px;
	margin-top:200px;

}
.box{
	width: 1000px;
	height:1200px;
	background: rgba(0, 0, 0, 0.4);
	margin: auto;
	margin-top: 3%;
	margin-bottom:3%;
	color: white;

}
.cover{
	height:30%;
	width:100%;
	margin:auto;
	background-color:#2c3e50;
	background: url('kielzkie.jpg');
	background-size: cover;
}
#name {
	position: absolute;
	font-family: 'Caveat', cursive;
	font-size: 300%;
	margin-left:300px;
	margin-top:-100px;
}
#aboutme {
	position: absolute;
	font-family: 'Kalam', cursive;
	font-size: 250%;
	margin-top:100px;
	margin-left:50px;	
}
 ul {
	position: absolute;
	font-family: 'Kalam', cursive;
	font-size:150%;
	margin-top: 150px;	
	margin-left: 50px;
}
#Introduction {
	position: absolute;
	font-family: 'Kalam', cursive;
	font-size: 250%;
	margin-top:300px;
	margin-left:50px;	
}
p {
	position: absolute;
	font-family: 'Kalam', cursive;
	font-size: 150%;
    margin-top:200px;
    margin-left:-125px;
	padding:200px;
}
.buttons {
	position:absolute;
	top:170%;
	left:40%;
	transform:translate(-50%,-100%);
}
.buttons ul {
	padding:0px;
	margin:0px;
	display:flex;
}
.buttons ul li {
	list-style:none;
	border:2px solid transparent;
	font-size: 15px;
	font-weight:bold;
	margin:30px;
	border-radius:15px;
	font-family:'kalam', cursive;
}
.buttons ul li a {
	text-decoration:none;
	padding:15px 35px;
	display:block;
	text-align:center;
	border-radius:15px;
	transition:all 0.5s ease-in-out;
}
.buttons ul li:nth-child(1) a{
	color:red;
	border:2px solid rgb(255,30,50,1);
}
.buttons ul li:nth-child(2) a{
	color:#ffffff;
	border:2px solid rgb(255,255,255,1);
}
.buttons ul li:nth-child(3) a{
	color:#fffc00;
	border:2px solid rgb(255,252,0,1);
}
.buttons ul li:nth-child(1):hover a{
	box-shadow:0px 0px 10px rgb(255,30,50,0.5), 0px 0px 10px rgb (255,30,50,1);
	background-color:rgb(255,30,50,0.5);
}
.buttons ul li:nth-child(2):hover a{
	box-shadow:0px 0px 10px rgb(255,255,255,0.5), 0px 0px 10px rgb (255,255,255,1);
	background-color:rgb(255,255,255,0.5);
}
.buttons ul li:nth-child(3):hover a{
	box-shadow:0px 0px 10px rgb(255,252,0,0.5), 0px 0px 10px rgb (255,30,50,1);
	background-color:rgb(255,252,0,0.5);
}
